<nz-page-header style="background-color:seagreen; color: white !important;" class="site-page-header"  nzTitle="Employee Management System" nzSubtitle="Testing Application">
</nz-page-header>

<div nz-row>
  <div nz-col nzFlex="200px">

    <button nz-button nzType="primary" nzBlock>Primary</button>
    <button nz-button nzType="default" nzBlock>Default</button>
    <button nz-button nzType="dashed" nzBlock>Dashed</button>
    <a nz-button nzType="link" nzBlock>Link</a>

  </div>
  <div nz-col nzFlex="auto">

    <router-outlet></router-outlet>

  </div>
</div>